body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Tinos', serif;
}
.header{
    background-image: url(bg.jpg);
    background-size: cover;
    height: 100vh;
}
.nav-item{
    text-decoration: none;
    color: #fff;
    font-family: Roboto;
    font-size: 38px;
    font-weight: 700;
    margin-right: 86px;
}
.nav-item:hover{
    color: red;
}
.nav-item:last-child{
    margin-right: 0;
}
.nav{
    display: flex;
    justify-content: center;
    padding-top: 34px ;

}
.title{
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    font-weight: 900;
    color: #fff;
    width: 1114px;

    text-align: center;

    margin-right: auto;
    margin-left: auto;
    margin-top: 86px;
}
.sub-title{
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 900;
    color: #fff;
    width: 514px;

    text-align: center;

    margin-left: auto;
    margin-right: auto;
    margin-top: 46px;
}
.input{
    height: 64px;
    width: 447px;
    font-size: 24px;
    outline: none;
    border: 4px #8D8D8D solid;
    border-radius: 20px;
    padding-left: 15px;
}
.forma{
    text-align: center;
    margin-top: 15px;
}
.btn{
    background-color: #5B89CE;
    padding: 15px 18px;
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;

    border: 2px #476443 solid;
    border-radius: 25px;
}
.button{
    text-align: center;
    margin-top: 25px;
}
.btn:hover{
    background-color: #416396;
}
